/* MAIN */

main {
    --div-video: 4;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(var(--div-video), calc(100% / var(--div-video)));
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
}

main div {
    display: grid;
    grid-template-areas: "thumb"
        "title"
        "info";
    grid-template-rows: auto 1.5em auto;
    height: 14em;
    /* border: 1px solid #aaa; */
    border-radius: 1em;
    /* padding: 0.25em; */
    height: fit-content;
    margin: 0.45em;
    padding-bottom: 0.5em;
    align-items: start;
    justify-items: start;
    contain: layout;
    font-family: system-ui;
    transition: all 150ms;
}

main>div:hover{
    cursor: pointer;
    transform: scale(1.05);
}

main div img {
    grid-area: thumb;
    width: 100%;
    aspect-ratio: 16/9;
    /* border-radius: 0.95em 0.95em 0px 0px; */
    border-radius: 1em;
    object-fit: cover;
}

main div h3 {
    grid-area: title;
    display: block;
    width: 100%;
    padding-inline: 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

main div p {
    grid-area: info;
    display: block;
    width: 100%;
    padding-inline: 0.75em;
    font-size: 12px;
}